.card {
  display: flex;
  flex-direction: column;

  .link {
    display: block;
    width: inherit;
    outline: none;

    img {
      width: 100%;
    }

    .title {
      color: rgb(80, 150, 255);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .subtitle {
      color: gray;
      font-size: 70%;
    }

    &:is(:focus-visible, :hover) .title {
      color: var(--text-color-active);
      text-decoration: underline;
    }
  }
}
