.wrapper {
  position: relative;

  .scroller {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 15%;
    gap: 1rem;

    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scrollbar-width: none;
    scroll-snap-type: inline mandatory;

    & > * {
      scroll-snap-align: start;
    }

    &::-webkit-scrollbar {
      width: 0;
      background-color: transparent;
    }
  }

  .control {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: gray;
    z-index: 1;
    border: 1px solid rgba(0, 60, 160, 0.2);
    box-shadow: 0 10px 20px 0 rgba(0, 100, 220, 0.1);
    flex-shrink: 0;
    position: absolute;
  }

  .controlLeft {
    left: 0;
    top: 40%;
  }

  .controlRight {
    right: 0;
    top: 40%;
  }
}
