.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;

  .target {
    &:is(:hover, :focus) + .content {
      opacity: 1;
      visibility: visible;
    }
  }

  .content {
    position: absolute;
    left: 50%;
    top: calc(100% + 5px);
    background-color: #333;
    padding: 0.7rem;
    border-radius: 0.7rem;
    color: #fff;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
  }
}
