.card {
  display: flex;
  flex-direction: column;
  width: 100%;

  .title {
    color: rgb(80, 150, 255);
  }

  &:focus-visible .title,
  &:hover .title {
    color: var(--text-color-active);
    text-decoration: underline;
  }
}
