.wrapper {
  .inner {
    display: inline-grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    // grid-template-rows: 1fr 1fr;
    gap: 1rem;

    .poster {
      // position: relative;
      grid-row: 1 / 3;
      img {
        // position: absolute;
        // width: 100%;
      }
    }

    .information {
      .genres {
        display: flex;
        column-gap: 0.5rem;
        flex-wrap: wrap;

        .genre {
          text-decoration: underline;
          text-decoration-style: dashed;
          text-decoration-color: rgba(0, 0, 0, 0.4);
        }
      }
    }

    .rating {
    }

    .description {
      grid-column: 2 / 4;
    }
  }

  .alterTitle:not(:last-child):after {
    content: ', ';
  }
}
