.menu {
  --menu-color-default: rgb(62, 62, 62);
  --menu-color-opened: rgb(87, 87, 87);
  --menu-padding: 1rem;

  width: 190px;
  position: relative;
  z-index: 2;

  &[open] .button {
    background-color: var(--menu-color-opened);
  }

  .button {
    cursor: pointer;
    display: block;
    padding: var(--menu-padding);
    background-color: var(--menu-color-default);
    user-select: none;

    &:is(:hover, :focus-visible) {
      background-color: var(--color-focus);
      outline: none;
    }

    // &:hover,
    // &:focus-visible {
    //   background-color: var(--color-focus);
    //   outline: none;
    // }
  }

  .content {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    background-color: var(--menu-color-opened);
    width: 100%;

    .link {
      display: block;
      padding: var(--menu-padding);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:is(:hover, :focus-visible) {
        background-color: var(--color-focus);
        outline: none;
      }
      // &:hover,
      // &:focus-visible {
      //   background-color: var(--color-focus);
      //   outline: none;
      // }
    }
  }
}
