.header {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 0 1rem;
  background-color: rgb(52, 52, 52);
  color: #fff;

  .button {
    padding: 1rem;

    &:is(:focus-visible, :hover) {
      background-color: var(--color-focus);
      outline: none;
    }
  }
}
