.headLine {
  --line-width: 8px;

  position: relative;
  display: block;
  width: 100%;

  background-color: rgb(232, 235, 239);
  font-weight: 600;

  padding-top: 0.2rem;
  padding-left: 0.5rem;
  padding-bottom: 0.2rem;
  padding-left: calc(0.5rem + var(--line-width));

  margin-top: 1rem;
  margin-bottom: 0.5rem;

  &::before {
    content: '';
    width: var(--line-width);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(216, 221, 228);
  }
}
